# Ignore everything
*

# track .gitignore
!.gitignore

# track .sv
!*.sv

# track testcode
!/testcode/
!testcode/*.asm

# track reports
!/reports/
!reports/*

# track simulation/modelsim
!/simulation/
!/simulation/modelsim/
!/simulation/modelsim/*.do
/simulation/modelsim/*_run_msim_rtl_verilog.do

# track assembler
!LC3bAssembler

# track txt files
!ToDo.txt
!modelsim_do_example.txt
!CP1_Report.txt

# track shell commands
!*.sh
